.bg {
    width: 175px;
    height: 20px;
    background-color: antiquewhite;
    padding: 10px;
}

.sp {
    width: 100px;
    height: 20px;
    background-color: wheat ;
}

.error {
    width: 174px;
    height: 28px;
    background-color: lightpink;
    position: absolute;
    margin: 10px 0 0 5px;
    padding: 10px 0 0 10px;
    color: red;
}